<section id="online">
    <!-- Page Content -->
    <div class="content-section-a">
        <h1 class="text-center" style="padding-bottom: 20px;">Check Out Our Winter Online Workshops!</h1>
            <div class="container">
                
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Introduction to Game Development</h2>
                        <!-- need to change game name! Don't get copy righted pleasee-->
                        <div class="lead">This workshop allows students to unleash their full creative imaginations as we explore how to make our very own versions of games like "Snappy Bird" and “RecBot” </div>
                        <button type="button"><a href="../online_workshops/gamedev/index.html"> Click here to learn!</a></button>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="../img/online/gamedev.png" alt="">
                    </div>
                </div>
                
            </div>
            
            <div class="container">
        
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Introduction to Web Development</h2>
                        <div class="lead">Students will uncover the true colours of a website behind its pages, pictures and links, as we guide you through all the nooks, crannies and secrets of web design. </div>
                        <button type="button"><a href="../online_workshops/webdev/index.html"> Click here to learn!</a></button>
                    </div>
                    
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="../img/online/webdev.png" alt="">
                    </div>
                </div>

            </div>          


        </div>
    </section>
    